version: '2.4'
services:
  task:
    image: task
    privileged: true
    build: 
      context: ../../../
      dockerfile: src/task/dockerfile
    network_mode: "host"
    runtime: "nvidia"
    volumes:
      - /dev/bus/usb:/dev/bus/usb
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ../../../src/task:/root/task
      - ../../../config:/root/config
    environment: 
      - ROS_MASTER_URI=http://10.0.0.143:11311
      - ROS_IP=10.0.0.232
      - DISPLAY
      - QT_X11_NO_MITSHM=1

    command: bash -c "source catkin_ws/devel/setup.bash;
                      rosparam load /root/config/params.yaml /pose_estimator;
                      python /root/task/test_obj_det_robokudo.py"
    stdin_open: true
    tty: true

  yolov5:
    image: yolov5
    privileged: true
    build:
      context: ../../../src/yolov5/docker/ycbv_segmentation_service
      dockerfile: dockerfile
    network_mode: "host"
    runtime: "nvidia"
    volumes:
      - /dev/bus/usb:/dev/bus/usb
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - ../../../src/yolov5:/root/yolo
    environment: 
      - ROS_MASTER_URI=http://10.0.0.143:11311
      - ROS_IP=10.0.0.232
      - DISPLAY
      - QT_X11_NO_MITSHM=1
    command: bash -c "source catkin_ws/devel/setup.bash;
                      python ./yolo/detect_ros_seg.py --weights ./yolo/yolov5_ycb_ichores_weights.pt --data ./yolo/data/ycb_ichores.yaml --camera-topic '$$(rosparam get /pose_estimator/color_topic)'"
    stdin_open: true
    tty: true 

  gdrnpp:
    image: gdrnpp
    build:
      context: ../../../src/gdrnpp/docker
      dockerfile: dockerfile_ros
    network_mode: "host"
    runtime: "nvidia"
    volumes:
      - "../../../src/gdrnpp:/root/gdrnpp:rw"
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /etc/localtime:/etc/localtime:ro
    environment: 
      - ROS_MASTER_URI=http://10.0.0.143:11311
      - ROS_IP=10.0.0.232
      - DISPLAY
      - QT_X11_NO_MITSHM=1
    command: bash -c "source catkin_ws/devel/setup.bash;  
             python ./gdrnpp/core/gdrn_modeling/demo/demo_gdrn_ros_robokudo.py --model_file ycb_ichores"        
    stdin_open: true
    tty: true
